.X_footer-main {
    margin-top: 15vh;
    width: 100vw;
    height: 60vh;
    background-color: #070618;
    color: white;
}
.X_footer-copyright {
    padding: 4px;
    font-weight: 800;
    width: 100vw;
    height: 5vh;
    background-color: white;
    color: #070618;
}